<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <SAP.Middleware.Connector>
    <GeneralSettings defaultTraceLevel="1" traceDir="c:\Temp" traceEncoding="UTF-8" traceType="THREAD"/>
    <ClientSettings>
      <DestinationConfiguration>
        <destination>
          <add NAME="rfc" USER="" PASSWD="" CLIENT="110" LANG="EN" ASHOST="" SYSNR="00" MAX_POOL_SIZE="100" IDLE_TIMEOUT=""/>
        </destination>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
</configuration>